/* suggestions plugin */

.suggestions {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	border: none;
	z-index: 99;
	padding: 0;
	margin-top: -1px;
}
.suggestions-special {
	position: relative;
	background-color: Window;
	font-size: 0.8em;
	cursor: pointer;
	border: solid 1px #aaaaaa;
	border-top-width: 0;
	padding: 0;
	margin: 0;
	display: none;
	padding: 0.25em 0.25em;
	line-height: 1.25em;
}
.suggestions-results {
	background-color: white;
	background-color: Window;
	font-size: 0.8em;
	cursor: pointer;
	border: solid 1px #aaaaaa;
	padding: 0;
	margin: 0;
}
.suggestions-result {
	color: black;
	color: WindowText;
	margin: 0;
	width: 100%;
}
.suggestions-result span {
	line-height: 1.5em;
	padding: 0.25em 0.25em;
}
.suggestions-result-current {
	background-color: #4C59A6;
	background-color: Highlight;
	color: white;
	color: HighlightText;
}/* wikiEditor plugin */

/* This ID (#editform) could change in MediaWiki */
form#editform {
	margin: 0;
	padding: 0;
}
/* These IDs (#wpSummaryLabel and #wpSummary) could change in MediaWiki */
#wpSummary, #wpSummaryLabel {
	margin-bottom: 1em;
}
/* This ID (#wpTextbox1) could change in MediaWiki */
.wikiEditor-ui textarea#wpTextbox1 {
	border: none;
	padding: 0;
	width: 100%;
	margin: -1px;
}
.wikiEditor-ui .wikiEditor-ui-text > textarea#wpTextbox1 {
	margin: 0;
}
.wikiEditor-ui {
	float: left;
	position: relative;
	clear: both;
	width: 100%;
	line-height: 1em;
	background-color: #f3f3f3;
	border: solid silver 1px;
}
body.rtl .wikiEditor-ui {
	float: right;
}
.wikiEditor-ui .wikiEditor-ui-bottom {
	
}
.wikiEditor-ui .wikiEditor-ui-text {
	line-height: 0;
}
.wikiEditor-ui .wikiEditor-ui-top {
	position: relative;
	border-bottom: solid silver 1px;
}
.wikiEditor-ui .wikiEditor-ui-left {
	float: left;
	width: 100%;
}
body.rtl .wikiEditor-ui .wikiEditor-ui-left {
	float: right;
}
.wikiEditor-ui .wikiEditor-ui-right {
	float: right;
	background: #F3F3F3;
	overflow: hidden;
}
body.rtl .wikiEditor-ui .wikiEditor-ui-right {
	float: left;
}
.wikiEditor-wikitext {
	float: left;
	width: 100%;
}
.wikiEditor-ui-controls {
	float: left;
	width: 100%;
	background-color: white;
	margin-top: -1px;
	border-bottom: solid 1px silver;
}
.wikiEditor-ui-tabs {
	float: left;
	height: 2.5em;
	margin-left: -1px;
	background-color: white;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
}
.wikiEditor-ui-buttons {
	float: right;
	height: 2.5em;
	margin-right: -1px;
	background-color: white;
	padding-left: 1em;
	border-top: solid 1px white;
}
.wikiEditor-ui-buttons button {
	margin-left: 0.5em;
}
.wikiEditor-ui-tabs div {
	float: left;
	height: 2.5em;
	background-color: #f3f3f3;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
}
.wikiEditor-ui-tabs div.current {
	border-bottom: solid 1px white;
	background-color: white;
}
.wikiEditor-ui-tabs div a {
	display: inline-block;
	padding: 0 0.75em;
	line-height: 2.5em;
	color: #0645AD;
}
.wikiEditor-ui-tabs div.current a {
	color: #333333;
}
.wikiEditor-ui-tabs div.current a:hover {
	text-decoration: none;
}/* wikiEditor dialogs module */

.ui-widget table {
	margin-top: 0.75em;
}
.ui-widget table td {
	padding: 0.5em;
	height: 3em;
	overflow: visible;
}

/* Put suggestions (default z-index 99) on top of dialogs (z-index 1002) */
div.suggestions {
	z-index: 1099;
}

.ui-dialog-content .status-invalid input {
	border: 2px solid red;
	padding: 2px 1px;
}

.ui-dialog .ui-dialog-buttonpane button.disabled {
	color: #7f7f7f;
	background: #f2f2f2;
	border-color: #cccccc;
}/* wikiEditor toc module */
body.rtl .wikiEditor-ui-text {
	border-right: none;
	border-left: solid silver 1px;
}
.wikiEditor-ui-toc {
	/* height and width are set dynamically */
	/*float: right;*/
	padding: 0;
	overflow: auto;
	overflow-x: hidden;
}
body.rtl .wikiEditor-ui-toc {
	/*
	float: left;
	right: auto;
	left: -1px;
	border-left: none;
	*/
}
.wikiEditor-ui-toc {
	border-left: solid silver 1px;
}
.wikiEditor-ui-toc ul {
	padding: 0;
	margin: 0;
	list-style: none;
	/* IE needs to be told in great detail how to act, or it misbehaves */
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	width: 100%;
}
body.rtl .wikiEditor-ui-toc ul {
	border-left: none;
	border-right: solid silver 1px;
}
.tab-toc {
	/* Should match the toolbar */
	background-image: url(../images/wikiEditor/toolbar/base.png);
	background-position: left top;
	background-repeat: repeat-x;
	height: 26px;
	padding: 3px 0;
	line-height: 26px;
	padding-left: 1em;
	border-bottom: solid 1px silver;
	white-space: nowrap;
	overflow: hidden;
}
body.rtl .tab-toc {
	background-position: right top;
	padding-right: 1em;
}
.tab-toc a {
	outline: none;
}
.wikiEditor-ui-toc li {
	padding: 0;
	margin: 0;
}
.wikiEditor-ui-toc ul ul {
	padding: 0;
	margin: 0;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	list-style: none;
	background-image: none;
}
.wikiEditor-ui-toc ul li div {
	display: block;
	font-size: 0.9em;
	cursor: pointer;
	color: #0645ad;
}
.wikiEditor-ui-toc ul li div span {
	padding: 0.125em;
	padding-left: 1em;
}
body.rtl .wikiEditor-ui-toc ul li div span {
	padding-right: 1em;
}
.wikiEditor-ui-toc ul ul li div span {
	padding-left: 2em;
}
body.rtl .wikiEditor-ui-toc ul ul li div span {
	padding-right: 2em;
}
.wikiEditor-ui-toc ul ul ul li div span {
	padding-left: 3em;
}
body.rtl .wikiEditor-ui-toc ul ul ul li div span {
	padding-right: 3em;
}
.wikiEditor-ui-toc ul ul ul ul li div span {
	padding-left: 4em;
}
body.rtl .wikiEditor-ui-toc ul ul ul ul li div span {
	padding-right: 4em;
}
.wikiEditor-ui-toc ul ul ul ul ul li div span {
	padding-left: 5em;
}
body.rtl .wikiEditor-ui-toc ul ul ul ul ul li div span {
	padding-right: 5em;
}
.wikiEditor-ui-toc ul ul ul ul ul ul li div span {
	padding-left: 6em;
}
body.rtl wikiEditor-ui-toc ul ul ul ul ul ul li div span {
	padding-right: 6em;
}
.wikiEditor-ui-toc ul li div.current {
	background-color: #FAFAFA;
	color: #333333;
}
.wikiEditor-ui-toc ul li div.section-0 {
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #DDDDDD;
}

/* Collapsing changes */

.wikiEditor-ui-toc {
	overflow-y: hidden;
	position: relative;
}
.wikiEditor-ui-toc ul {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	margin-bottom: 0 !important;
	
}

.wikiEditor-ui-toc ul ul {
	float: none;
	height: auto;
}
#wikiEditor-ui-toc-collapse {
	height: 100%;
	width: 18px;
	position: absolute;
	top: 0;
	left: 0;
}
.wikiEditor-ui-toc-collapse-open {
	background: #f3f3f3 url(../images/wikiEditor/toc/close.png) 4px 50% no-repeat;
	border-left: 1px solid #DDDDDD;
}
.wikiEditor-ui-toc-collapse-closed {
	background: #f3f3f3 url(../images/wikiEditor/toc/open.png) 4px 50% no-repeat;
}

/* Resizing Changes */
.wikiEditor-ui-toc-resize-vertical,
.ui-resizable-w {
	width: 4px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: ew-resize;
}
.wikiEditor-ui .wikiEditor-ui-right {
	overflow: visible;
}
.wikiEditor-ui-right .ui-resizable-w {
	left: 0px !important;
}

.wikiEditor-ui-right .wikiEditor-ui-toc-resize-grip {
	width: 5px;
	height: 12px;
	padding: 3px;
	position: absolute;
	top: 7px;
	left: -12px !important;
	cursor: ew-resize;
	background: url(../images/wikiEditor/toc/grip.png) 50% 50% no-repeat;
	z-index: 0;
}
.wikiEditor-ui-toolbar .tab-toc {
	float: right;
	margin: 3px 16px 3px 3px;
	line-height: 26px;
}
.wikiEditor-ui-toc-expandControl {
	position: absolute;
	z-index: 2;
	top: 0px;
	right: 10px;
	height: 26px;
	padding: 3px 0;
	line-height: 26px;
	padding-right: 1em;
	white-space: nowrap;
	overflow: hidden;
}
body.rtl .wikiEditor-ui-toc-expandControl {
	padding-left: 1em;
	padding-right: 0;
	left: 10px;
	right: auto;
}
.wikiEditor-ui-text textarea {
	resize: none;
}
.wikiEditor-ui-text textarea:focus {
	outline: none;
}

/* wikiEditor toolbar module */

.wikiEditor-ui-toolbar {
	position: relative;
	width: 100%;
}

/* Expandable Sections */
.wikiEditor-ui-toolbar .sections {
	float: left;
	width: 100%;
	clear: both;
	height: 0;
}
body.rtl .wikiEditor-ui-toolbar .sections {
	float: right;
}
.wikiEditor-ui-toolbar .sections .section {
	display: none;
	float: left;
	width: 100%;
	border-top: solid 1px #DDDDDD;
	background-color: #E0EEf7;
}
.wikiEditor-ui-toolbar {
	background-image: url(../images/wikiEditor/toolbar/base.png);
	background-position: left top;
	background-repeat: repeat-x;
}
/*
.wikiEditor-ui-toolbar .toolbar {
	background-image: url(../images/wikiEditor/toolbar/base.png);
	background-position: left top;
}
*/
body.rtl .wikiEditor-ui-toolbar .sections .section {
	float: right;
}
.wikiEditor-ui-toolbar .sections .loading {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
/* Gets overridden when the section div is in class loading - see below */
.wikiEditor-ui-toolbar .sections div .spinner {
	display: none;
}
.wikiEditor-ui-toolbar .sections .loading .spinner {
	display: block;
	background-image: url(../images/wikiEditor/toolbar/loading.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 32px;
	margin-left: 1em;
	float: left;
	color: #666666;
}
body.rtl .wikiEditor-ui-toolbar .sections .loading .spinner {
	background-position: right center;
	padding-left: 0;
	padding-right: 32px;
	margin-left: 0;
	margin-right: 1em;
	float: right;
}
/* Top Level Containers */
.wikiEditor-ui-toolbar .tabs,
.wikiEditor-ui-toolbar .section-main {
	position: relative;
	float: left;
	height: 26px;
}
body.rtl .wikiEditor-ui-toolbar .tabs,
body.rtl .wikiEditor-ui-toolbar .section-main {
	float: right;
}
/* Groups */
.wikiEditor-ui-toolbar .group {
	float: left;
	height: 26px;
	padding-right: 6px;
	border-right: solid 1px #DDDDDD;
	margin: 3px;
}
body.rtl .wikiEditor-ui-toolbar .group {
	float: right;
	padding-right: 0;
	padding-left: 6px;
	border-right: none;
	border-left: solid 1px #DDDDDD;
}
/* Tabs */
.wikiEditor-ui-toolbar .tabs {
	list-style: none;
	margin: 3px;
}
.wikiEditor-ui-toolbar .tabs span.tab {
	display: inline-block;
	float: left;
	line-height: 26px;
}
/* IGNORED BY IE6 */
.wikiEditor-ui-toolbar .tabs > span.tab {
	display: block;
}
/* IGNORED BY IE6 */
body.rtl .wikiEditor-ui-toolbar .tabs > span.tab {
	float: right;
}
.wikiEditor-ui-toolbar .tabs span.tab a,
.wikiEditor-ui-toolbar .tabs span.tab a:visited {
	display: inline-block;
	float: left;
	padding-left: 18px;
	padding-right: 12px;
	height: 26px;
	cursor: pointer;
	color: #0645ad;
	background-image: url(../images/wikiEditor/toolbar/arrow-right.png);
	background-position: left center;
	background-repeat: no-repeat;
}
body.rtl .wikiEditor-ui-toolbar .tabs span.tab a,
body.rtl .wikiEditor-ui-toolbar .tabs span.tab a:visited {
	padding-left: 12px;
	padding-right: 18px;
	background-image: url(../images/wikiEditor/toolbar/arrow-left.png);
	background-position: right center;
}
/* IGNORED BY IE6 */
body.rtl .wikiEditor-ui-toolbar .tabs > span.tab > a,
body.rtl .wikiEditor-ui-toolbar .tabs > pan.tab > a:visited {
	float: right;
}
.wikiEditor-ui-toolbar .tabs span.tab a.current,
.wikiEditor-ui-toolbar .tabs span.tab a.current:visited {
	color: #333333;
	background-image: url(../images/wikiEditor/toolbar/arrow-down.png);
}
body.rtl .wikiEditor-ui-toolbar .tabs span.tab a.current,
body.rtl .wikiEditor-ui-toolbar .tabs span.tab a.current:visited {
	background-image: url(../images/wikiEditor/toolbar/arrow-down.png);
}
.wikiEditor-ui-toolbar .tabs span.tab a.current:hover {
	text-decoration: none;
}
/* Toolbar */
.wikiEditor-ui-toolbar .group .label {
	float: left;
	border: 0px;
	height: 22px;
	line-height: 22px;
	margin: 2px;
	margin-left: 5px;
	margin-right: 8px;
	color: #777777;
	cursor: default;
}
/* IGNORED BY IE6 */
body.rtl .wikiEditor-ui-toolbar .group > .label {
	float: right;
	margin-left: 8px;
	margin-right: 5px;
}
.wikiEditor-ui-toolbar .group img.tool {
	float: left;
	border: 0px;
	height: 22px;
	width: 22px;
	padding: 2px;
	cursor: pointer;
}
/* IGNORED BY IE6 */
body.rtl .wikiEditor-ui-toolbar .group > img.tool {
	float: right;
}
.wikiEditor-ui-toolbar .group .tool-select {
	float: left;
	margin: 2px;
	height: 22px;
	cursor: pointer;
	border: solid 1px silver;
	padding: 0;
	margin-right: 0;
	cursor: pointer;
	background-color: #ffffff;
}
/* IGNORED BY IE6 */
body.rtl .wikiEditor-ui-toolbar .group > .tool-select {
	float: right;
}
.wikiEditor-ui-toolbar .group .tool-select .label {
	background-image: url(../images/wikiEditor/toolbar/arrow-down.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	padding-left: 4px;
	padding-right: 22px;
	margin-right: 4px;
	cursor: pointer;
	color: #333333;
}
body.rtl .wikiEditor-ui-toolbar .group .tool-select .label {
	background-position: center left;
	padding-right: 4px;
	padding-left: 22px;
	margin-left: 4px;
	margin-right: 0;
}
body.rtl .wikiEditor-ui-toolbar .group .tool-select .menu {
	clear: both;
}
.wikiEditor-ui-toolbar .group .tool-select .menu .options {
	position: absolute;
	display: none;
	margin-left: -1px;
	border: solid 1px silver;
	background-color: #ffffff;
}
body.rtl .wikiEditor-ui-toolbar .group .tool-select .menu {
	margin-left: -1px;
	margin-right: -1px;
}
/* IGNORED BY IE6 */
.wikiEditor-ui-toolbar .group .tool-select .options  {
	margin-top: 22px;
}
.wikiEditor-ui-toolbar .group .tool-select .options .option {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: black;
	white-space: nowrap;
}
.wikiEditor-ui-toolbar .group .tool-select .options .option:hover {
	background-color: #f3f3f3;
}
.wikiEditor-ui-toolbar .group .tool-select .options .option[rel=heading-2] {
	font-size: 150%;
	font-weight: normal;
}
.wikiEditor-ui-toolbar .group .tool-select .options .option[rel=heading-3] {
	font-size: 132%;
	font-weight: normal;
}
.wikiEditor-ui-toolbar .group .tool-select .options .option[rel=heading-4] {
	font-size: 116%;
	font-weight: normal;
}
.wikiEditor-ui-toolbar .group .tool-select .options .option[rel=heading-5] {
	font-size: 100%;
	font-weight: bold;
}
/* Booklet */
.wikiEditor-ui-toolbar .booklet .index {
	float: left;
	width: 20%;
	height: 125px;
	overflow: auto;
}
body.rtl .wikiEditor-ui-toolbar .booklet .index {
	float: right;
}
.wikiEditor-ui-toolbar .booklet .index div {
	padding: 4px;
	padding-left: 6px;
	cursor: pointer;
	color: #0645ad;
}
body.rtl .wikiEditor-ui-toolbar .booklet .index div {
	padding-left: 4px;
	padding-right: 6px;
}
.wikiEditor-ui-toolbar .booklet .index .current {
	background-color: #FAFAFA;
	color: #333333;
	cursor: default;
}
.wikiEditor-ui-toolbar .booklet .pages {
	float: right;
	width: 80%;
	height: 125px;
	overflow: auto;
	background-color: #FAFAFA;
}
body.rtl .wikiEditor-ui-toolbar .booklet .pages {
	float: left;
}
/* Help Pages */
.wikiEditor-ui-toolbar .page-table table {
	padding-left: 5px;
	padding-right: 5px;
	background: none;
}
.wikiEditor-ui-toolbar .page-table th {
	color: #999999;
}
.wikiEditor-ui-toolbar .page-table td {
	color: black;
	border-top: solid 1px #EEEEEE;
}
.wikiEditor-ui-toolbar .page-table th,
.wikiEditor-ui-toolbar .page-table td {
	text-align: left;
	padding: 5px;
	margin: 0px;
}
body.rtl .wikiEditor-ui-toolbar .page-table th,
body.rtl .wikiEditor-ui-toolbar .page-table td {
	text-align: right;
}
.wikiEditor-ui-toolbar .section-help .page-table td.syntax {
	font-family: monospace;
}
.wikiEditor-ui-toolbar .section-help .page-table td.syntax,
.wikiEditor-ui-toolbar .section-help .page-table td.result {
	width: 40%;
}
.wikiEditor-ui-toolbar .section-help .page-table td.description {
	width: 20%;
}
/* Characters Pages */
.wikiEditor-ui-toolbar .page-characters div a {
	border: solid 1px #DDDDDD;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 5px;
	margin-top: 5px;
	height: 1em;
	float: left;
	display: block;
	color: black;
	text-decoration: none;
}
body.rtl .wikiEditor-ui-toolbar .page-characters > div > a,
.wikiEditor-ui-toolbar .page-characters div[dir=rtl] a {
	direction: rtl;
	float: right;
	margin-left: 0;
	margin-right: 5px;
}
.wikiEditor-ui-toolbar .page-characters div a:hover {
	background-color: white;
	text-decoration: none;
	border-color: #a8d7f9;
}/* CSS for wikiEditor preview plugin */

.wikiEditor-preview-loading {
	padding: 1em;
	background-color: white;
}
.wikiEditor-preview-loading span {
	color: #666666;
}
.wikiEditor-preview-spinner {
	padding-right: 1em;
}
.wikiEditor-preview-contents {
	padding: 1em;
	background-color: white;
}