/* wikiEditor dialogs module */

.ui-widget table {
	margin-top: 0.75em;
}
.ui-widget table td {
	padding: 0.5em;
	height: 3em;
	overflow: visible;
}

/* Put suggestions (default z-index 99) on top of dialogs (z-index 1002) */
div.suggestions {
	z-index: 1099;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
	text-decoration: none;
}
.ui-dialog-content .status-invalid input {
	border: 2px solid red;
	padding: 2px 1px;
}

.ui-dialog .ui-dialog-buttonpane button.disabled {
	color: #7f7f7f;
	background: #f2f2f2;
	border-color: #cccccc;
}
.ui-dialog .ui-dialog-buttonpane {
	margin-top: 0 !important;
	padding:0.3em 1em 0.5em 1em !important;
}
body.rtl .ui-dialog .ui-dialog-buttonpane button {
	float: left;
}
.ui-dialog-content fieldset{ 
	border: none !important;
	margin: 0 !important;
}
.wikieditor-toolbar-table-preview-content * {
	cursor: default;
}
body.rtl .ui-dialog .ui-dialog-titlebar-close {
	left: 0.75em;
	right: auto;
}
body.rtl .ui-dialog .ui-dialog-title {
	float:right;
}