			<li><a href="report.cgi">Reports</a></li>
			[% IF Param('shutdownhtml') || Bugzilla.has_flags %]
				<li>
					[% IF user.id %]
						<a href="request.cgi?requester=[% user.login FILTER url_quote %]&amp;requestee=
							[% user.login FILTER url_quote %]&amp;do_union=1&amp;group=type&amp;action=queue">My Requests</a>
					[% ELSE %]
						<a href="request.cgi">Requests</a>
					[% END %]
				</li>
			[% END %]
			[% IF user.id && Param('usevotes') %]
 				<li><a href="votes.cgi?action=show_user">My&nbsp;Votes</a></li>
			[% END %]

			[% IF user.login %]
				<li><a href="userprefs.cgi">Preferences</a></li>
				[% IF user.in_group('tweakparams') || user.in_group('editusers') || user.can_bless
					|| (Param('useclassification') && user.in_group('editclassifications'))
					|| user.in_group('editcomponents') || user.in_group('admin') || user.in_group('creategroups')
					|| user.in_group('editkeywords') || user.in_group('bz_canusewhines')
					|| user.get_products_by_permission("editcomponents").size %]
					<li><a href="admin.cgi">Administration</a></li>
				[% END %]
			[% END %]

			[% PROCESS "global/per-bug-queries.html.tmpl" %]

			[%# Sections of links to more things users can do on this installation. %]
			[% Hook.process("end") %]
		
