# This software, copyright (C) 2008-2009 by Wikiation.
# This software is developed by Kim Bruning.
#
# Distributed under the terms of the MIT license


#Settings file for wikiation_webtest
import os

# path to pywikipedia
#(calculated, in this case)
pywikipedia_path=os.path.join(os.path.dirname(__file__),'..','pywikipedia')

from logindata import LoginData

# How many tests per page should be permitted?
# (wikiation wants to hardlimit this to 1 only)
# (0 = infinite)
tests_per_page=1

#What is the default category name?
category_name="Automated tests"

# Trim spaces in elements.
# Certain people introduce spurious whitespace, even in CDATA. ARGH!
# If you cannot smite such infidels, turn on this flag instead to strip
# their whitespace.
# I'm not sure that this is the canonical behaviour. O:-)
strip_whitespace=True


# site information

# wiki to read testcases from, and write reports to
# (logically not used if reading tests from file)
source_login=LoginData(
	name='test_source',
	protocol='http',
	server='6.wikiation.nl',
	scriptpath='/revisions/REL1_13_2',
	lang='en',
	encoding='utf-8',
	user='---------',
	password='--------'
	)

# wiki to actually run the test on.
target_login=LoginData(
	name='test_target',
	protocol='http',
	server='6.wikiation.nl',
	scriptpath='/revisions/exttest_target',
	lang='en',
	encoding='utf-8',
	user='---------',
	password='--------'
	)


#test page name (botTest is default
pageName="Bot_test"
