/* CSS StyleSheet for Toolbar extensions */

/* MEDIAWIKI DEPENDENT IDs */
body form#editform {
	margin: 0;
	padding: 0;
}
body textarea#wpTextbox1 {
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
/* ... */
div#edit-ui {
	border: solid silver 1px;
	background-color: #f3f3f3;
	clear: both;
}
div#edit-toolbar {
	background-color: #F3F3F3;
}
div#edit-toolbar div.break {
	border-bottom: solid silver 1px;
	clear:both;
}
/* Sections */
div#edit-toolbar div.sections {
	float: left;
	width: 100%;
	clear: both;
}
body.rtl div#edit-toolbar div.sections {
	float: right;
}
div#edit-toolbar div.sections div.section {
	display: none;
	float: left;
	width: 100%;
	margin-left: -1px;
	border-left: solid silver 1px;
	border-right: solid silver 1px;
	border-top: solid 1px #DDDDDD;
	background-color: #F3F3F3;
}
body.rtl div#edit-toolbar div.sections div.section {
	float: right;
	margin-left: auto;
	margin-right: -1px;
}
div#edit-toolbar div.sections div.loading {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
div#edit-toolbar div.sections div div.progress {
	display: none;
}
div#edit-toolbar div.sections div.loading div.progress {
	display: block;
	background-image: url(images/loading.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 32px;
	margin-left: 1em;
	float: left;
	color: #666666;
}
body.rtl div#edit-toolbar div.sections div.loading div.progress {
	background-position: right center;
	padding-left: 0;
	padding-right: 32px;
	margin-left: 0;
	margin-right: 1em;
	float: right;
}
/* Toolbar Groups and Tabs */
div#edit-toolbar div.tabs,
div#edit-toolbar div.group {
	float: left;
	height: 26px;
	margin: 3px;
	padding: 0;
	padding-right: 6px;
	border-right: solid 1px #DDDDDD;
}
body.rtl div#edit-toolbar div.tabs,
body.rtl div#edit-toolbar div.group {
	float: right;
	padding-right: 0;
	padding-left: 6px;
	border-right: none;
	border-left: solid 1px #DDDDDD;
}
body.rtl div#edit-toolbar div.first {
	border-right: none;
}
/* Tabs */
div#edit-toolbar div.tabs {
	list-style: none;
}
div#edit-toolbar div.tabs span.tab {
	display: inline-block;
	float: left;
	line-height: 26px;
}
/* IGNORED BY IE6 */
body.rtl div#edit-toolbar div.tabs > span.tab {
	float: right;
}
div#edit-toolbar div.tabs span.tab a,
div#edit-toolbar div.tabs span.tab a:visited {
	display: inline-block;
	float: left;
	padding-left: 18px;
	padding-right: 12px;
	height: 26px;
	cursor: pointer;
	color: #0645ad;
	background-image: url(images/arrow-right.png);
	background-position: left center;
	background-repeat: no-repeat;
}
body.rtl div#edit-toolbar div.tabs span.tab a,
body.rtl div#edit-toolbar div.tabs span.tab a:visited {
	padding-left: 12px;
	padding-right: 18px;
	background-image: url(images/arrow-left.png);
	background-position: right center;
}
/* IGNORED BY IE6 */
body.rtl div#edit-toolbar div.tabs > span.tab > a,
body.rtl div#edit-toolbar div.tabs > pan.tab > a:visited {
	float: right;
}
div#edit-toolbar div.tabs span.tab a.current,
div#edit-toolbar div.tabs span.tab a.current:visited {
	color: #333333;
	background-image: url(images/arrow-down.png);
}
body.rtl div#edit-toolbar div.tabs span.tab a.current,
body.rtl div#edit-toolbar div.tabs span.tab a.current:visited {
	background-image: url(images/arrow-down.png);
}
div#edit-toolbar div.tabs span.tab a.current:hover {
	text-decoration: none;
}
/* Toolbar */
div#edit-toolbar div.group div.label {
	float: left;
	border: 0px;
	height: 22px;
	line-height: 22px;
	margin: 2px;
	margin-left: 5px;
	margin-right: 8px;
	color: #777777;
	cursor: default;
}
/* IGNORED BY IE6 */
body.rtl div#edit-toolbar div.group > div.label {
	float: right;
	margin-left: 8px;
	margin-right: 5px;
}
div#edit-toolbar div.group input.tool {
	float: left;
	border: 0px;
	height: 22px;
	width: 22px;
	padding: 2px;
	cursor: pointer;
}
/* IGNORED BY IE6 */
body.rtl div#edit-toolbar div.group > input.tool {
	float: right;
}
div#edit-toolbar div.group select {
	float: left;
	margin: 2px;
	height: 22px;
	cursor: pointer;
}
/* IGNORED BY IE6 */
body.rtl div#edit-toolbar div.group > select {
	float: right;
	font-size: 0.9em;
}
/* Booklet */
div#edit-toolbar div.index {
	float: left;
	width: 20%;
	height: 125px;
	overflow: auto;
}
body.rtl div#edit-toolbar div.index {
	float: right;
}
div#edit-toolbar div.index div {
	padding: 4px;
	padding-left: 6px;
	cursor: pointer;
	color: #0645ad;
}
body.rtl div#edit-toolbar div.index div {
	padding-left: 4px;
	padding-right: 6px;
}
div#edit-toolbar div.index div.current {
	background-color: #FAFAFA;
	color: #333333;
	cursor: default;
}
div#edit-toolbar div.pages {
	float: right;
	width: 80%;
	height: 125px;
	overflow: auto;
	background-color: #FAFAFA;
}
body.rtl div#edit-toolbar div.pages {
	float: left;
}
div#edit-toolbar div.pages div.page {
	display: none;
}
div#edit-toolbar div.pages div.page table {
	padding-left: 5px;
	padding-right: 5px;
	background: none;
}
div#edit-toolbar div.pages div.page table th {
	color: #999999;
}
div#edit-toolbar div.pages div.page table td {
	color: black;
	border-top: solid 1px #EEEEEE;
}
div#edit-toolbar div.pages div.page table th,
div#edit-toolbar div.pages div.page table td {
	text-align: left;
	padding: 5px;
	margin: 0px;
}
body.rtl div#edit-toolbar div.pages div.page table th,
body.rtl div#edit-toolbar div.pages div.page table td {
	text-align: right;
}
div#edit-toolbar div.pages div.page table td.syntax {
	font-family: monospace;
}
div#edit-toolbar-section-help div.page table td.syntax,
div#edit-toolbar-section-help div.page table td.result {
	width: 40%;
}
div#edit-toolbar-section-help div.page table td.description {
	width: 20%;
}
div#edit-toolbar-section-characters div.page div a {
	border: solid 1px #DDDDDD;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 5px;
	margin-top: 5px;
	height: 1em;
	float: left;
	display: block;
	color: black;
	text-decoration: none;
}
body.rtl div#edit-toolbar-section-characters div.page > div > a,
div#edit-toolbar-section-characters div.page div.rtl a {
	direction: rtl;
	float: right;
	margin-left: 0;
	margin-right: 5px;
}
div#edit-toolbar-section-characters div.page div a:hover {
	background-color: white;
	text-decoration: none;
	border-color: #a8d7f9;
}