Source: dbzip2
Section: unknown
Priority: optional
Maintainer: brion <brion@pobox.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: dbzip2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
