/**
  * Css for stories, used at variouse places in the Storyboard extension.
  *
  * @file story.css
  * @ingroup Storyboard
  *
  * @author Jeroen De Dauw
  */

.story {
	margin-left: 15px;
	margin-top: 5px;
	float: left;
	overflow: hidden;	
}
.story-title {
	font: 16px "Lucida Sans", Verdana;
	font-weight: bold;
	float: left;
	overflow: hidden;	
}
.story-image {
	margin: 5px 15px 0px 15px;
	float: right;
}

.story-sharing {
	height: 30px;
	width: 110px;
	float: right;
}
.story-sharing-item {
	float: left;
	padding-right: 5px;
}