Source: wikimedia-task-search
Section: unknown
Priority: optional
Maintainer: Mark Bergsma <mark@wikimedia.org>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 4.0.0)

Package: wikimedia-task-search
Architecture: all
Depends: wikimedia-nis-client, wikimedia-lvs-realserver, openjdk-6-jdk (>= 6b11-2ubuntu2), ant, daemon
Description: Wikimedia search server
 This package depends on all packages needed to setup a standard
 search server.
