/* 
 * Custom mediawiki skin for bugzilla.wikimedia.org
 */

table.bz_bugactivity {
	border-spacing: 1px;
	border-collapse: collapse;
}
table.bz_bugactivity th {
	background-color: #E0E0E0;
}
table.bz_bugactivity tr {
        border: 1px solid silver !important;
}
table.bz_bugactivity td {
	padding: 0.3em 0.3em 0.3em 0.5em;
	width: auto;
	border: 1px solid silver !important;
}
