/* CSS for NavigableTOC extension */

div#edit-toc {
	background-color: #f3f3f3;
}
div#edit-toc ul {
	margin: 0.5em;
	padding: 0;
	list-style: none;
}
div#edit-toc ul ul {
	margin: 0;
	margin-left: 1em;
}
div#edit-toc ul li a.currentSelection {
	font-weight: bold;
}
div#edit-ui-left {
	margin-right: 12em;
	border-right: solid silver 1px;
}
div#edit-ui-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 12em;
	border-right: solid silver 1px;
	overflow: auto;
}