form#newthread {}

div#threadcreate 
{
  border:1px solid #aaaaaa; 
  background-color:#f9f9f9; 
  padding:0.5em; 
  clear:both; 
  font-size:120%; 
  text-align:center;
}

div#threadexist { color:red; }

table#threadtable { border:1px solid #aaaaaa; }

th#threadtablehead
{
  background:#D0D0D0; 
  font-weight:bold; 
  padding:0.5em;
}

td.threadrow {}
td.threadrow#threadrowodd { background:#F0F0F0; }
td.threadrow#threadrowpeer { background:#FFFFFF; }

div#threadcontent
{
  border:1px solid #aaaaaa; 
  background-color:white; 
  padding:1em; 
  clear:both;
}

div#threadedit
{
  margin-left:0.5em; 
  margin-bottom:0.5em; 
  float:right;
}