form#newthread	{}

div#threadcreate 
{
	border-style:solid;
	border-color:#aaaaaa;
	border-width:1px;
	background-color:#f9f9f9;
	padding:0.5em;
	clear:both;
	font-size:120%;
	text-align:center;
}

div#threadexist { color:red; }

table#threadtable
{
	border-style:solid;
	border-color:#aaaaaa;
	border-width:1px;
}

tr.threadrow {}
tr.threadrow#threadrowodd  { background:#F8F8F8; }
tr.threadrow#threadrowpeer { background:#FFFFFF; }
tr.threadrow#threadincodd  { background:#F0F0F0; }
tr.threadrow#threadincpeer { background:#F0F0F0; }

tr.threadrow#threadincodd  td
{
	border-style:solid;
	border-color:#aaaaaa;
	border-width:1px 0 0 0;
}
tr.threadrow#threadincpeer td
{
	border-style:solid;
	border-color:#aaaaaa;
	border-width:1px 0 0 0;
}
tr.threadrow#contentincodd  td 
{
	background:#FFFFFF;
	padding:1em;
	//display:none;
}
tr.threadrow#contentincpeer td 
{
	background:#FFFFFF;
	padding:1em;
	//display:none;
}
tr.threadrow#threadtablehead
{
	background:#F0F0F0;
	font-weight:bold;
	padding:0.5em;
}

div#threadcontent
{
	border-style:solid;
	border-color:#aaaaaa;
	border-width:1px;
	background-color:white;
	padding:1em;
	margin:0 0 1em 0;
	clear:both;
}

div#threadedit
{
	margin-left:0.5em;
	margin-bottom:0.5em;
	float:right;
}