/* Collapsing changes */
.wikiEditor-ui-toc ul{
	width:132px;
	float:left;
}
.wikiEditor-ui-toc ul ul{
	width:auto;
}
#wikiEditor-ui-toc-colapse{
	height:100%;
	width:18px;
	float:left;	
}
.wikiEditor-ui-toc-collapse-open{
	background:#f3f3f3 url(../images/wikiEditor/toc/close.png) 4px 50% no-repeat;
	border-left:1px solid #DDDDDD;
}
.wikiEditor-ui-toc-collapse-closed{
	background:#f3f3f3 url(../images/wikiEditor/toc/open.png) 4px 50% no-repeat;
}