# Example configuration file for slayerd(8).  This file is read
# before the command line options.

# Maximum per-user memory limit; processes will be killed if the
# user's memory use exceeds this limit.  Given in MB.
limit 500

# Kill threshold.  Processes will be killed until the user's memory
# use drops below this number, also in MB.
thresh 300

# Time to wait between checks, in seconds.
delay 10

# Ignore certain users.  root (UID 0) is always exempt.
#exempt adminuser
#exempt gooduser

# Command to send mail.  No arguments allowed.
sendmail /usr/lib/sendmail

# File to store PID in.
#pidfile /var/run/slayerd.pid
