Source: imagemagick
Section: graphics
Priority: optional
Maintainer: Ubuntu Core developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Luciano Bello <luciano@debian.org>
Uploaders: Daniel Kobras <kobras@debian.org>, Nelson A. de Oliveira <naoliv@debian.org>
Standards-Version: 3.7.3
Build-Depends: libjpeg62-dev, libbz2-dev, libtiff4-dev, libwmf-dev, libz-dev, libpng12-dev (<= 1.2.8rel-7) | libpng12-dev (>= 1.2.15~beta5-0), libx11-dev, libxt-dev, libxext-dev, debhelper (>= 5), libxml2-dev, libfreetype6-dev, liblcms1-dev, libexif-dev, libjasper-dev, libltdl3-dev, libdjvulibre-dev, librsvg2-dev, libopenexr-dev, libgraphviz-dev, ghostscript, pkg-config, quilt
Vcs-Browser: http://svn.debian.org/wsvn/pkg-gmagick/
Vcs-Svn: svn://svn.debian.org/svn/pkg-gmagick/
Homepage: http://www.imagemagick.org/

Package: imagemagick
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: imagemagick-doc
Replaces: imagemagick-doc, geomview (<= 1.8.0)
Description: image manipulation programs
 Imagemagick is a set of programs to manipulate various image formats
 (JPEG, TIFF, PhotoCD, PBM, XPM, etc...). All manipulations can
 be achieved through shell commands as well as through an X11 graphical
 interface (display).
 .
 Possible effects: colormap manipulation, channel operations, thumbnail
 creation, image annotation, limited drawing, image distortion, etc...

Package: libmagick10
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ghostscript, gsfonts
Suggests: libwmf-bin, html2ps
Description: image manipulation library 
 LibMagick supports loading and saving a very large set of image formats.
 It allows a lot of image manipulation as well.
 .
 This package contains the C libraries needed to run executables that make
 use of libMagick.
 
Package: libmagick9-dev
Architecture: any
Section: libdevel
Depends: libmagick10 (= ${binary:Version}), libjpeg62-dev, libbz2-dev, libtiff4-dev, libwmf-dev (>= 0.2.7-1), libz-dev, libpng12-dev, libx11-dev, libxt-dev, libxext-dev, libxml2-dev, libfreetype6-dev, liblcms1-dev, libexif-dev, libjasper-dev, libltdl3-dev, libdjvulibre-dev, librsvg2-dev, libopenexr-dev, libgraphviz-dev
Conflicts: libmagick6-dev
Replaces: libmagick6-dev
Description: image manipulation library - development files
 LibMagick supports loading and saving a very large set of image formats.
 It allows a lot of image manipulation as well.
 .
 This package includes header files and static libraries needed to compile
 programs using libMagick.

Package: libmagick++10
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libmagick++6
Replaces:  libmagick++6
Description: C++ API to the ImageMagick library
 Magick++ supports an object model which is inspired by PerlMagick. Magick++
 executes faster than PerlMagick since it is accessed from a compiled
 language rather than from a scripting language. This makes it more suitable
 for Web CGI programs which must start-up and execute quickly. Images support
 implicit reference counting so that copy constructors and assignment incur
 almost no cost. The cost of actually copying an image (if necessary) is done
 just before modification and this copy is managed automatically by Magick++.
 De-referenced copies are automatically deleted. The image objects support
 value (rather than pointer)  semantics so it is trivial to support multiple
 generations of an image in memory at one time.
 .
 Magick++ provides integrated support for STL. This support allows Magick++
 to be used with the Standard Template Library (STL) so that the powerful
 containers available (e.g. deque, vector, list, and map)  can be used to
 write programs similar to those possible with Perl and PerlMagick.
 STL-compatible template versions of ImageMagick's list-style operations are
 provided so that operations may be performed on multiple images stored in
 STL containers.
 .
 This package contains the C++ libraries needed to run executables that make
 use of libMagick++.

Package: libmagick++9-dev
Architecture: any
Section: libdevel
Depends: libmagick++10 (= ${binary:Version}), libmagick9-dev (= ${binary:Version})
Conflicts: libmagick++6-dev
Replaces: libmagick++6-dev
Description: C++ API to the ImageMagick library - development files
 Magick++ supports an object model which is inspired by PerlMagick. Magick++
 executes faster than PerlMagick since it is accessed from a compiled
 language rather than from a scripting language. This makes it more suitable
 for Web CGI programs which must start-up and execute quickly. Images support
 implicit reference counting so that copy constructors and assignment incur
 almost no cost. The cost of actually copying an image (if necessary) is done
 just before modification and this copy is managed automatically by Magick++.
 De-referenced copies are automatically deleted. The image objects support
 value (rather than pointer)  semantics so it is trivial to support multiple
 generations of an image in memory at one time.
 .
 Magick++ provides integrated support for STL. This support allows Magick++
 to be used with the Standard Template Library (STL) so that the powerful
 containers available (e.g. deque, vector, list, and map)  can be used to
 write programs similar to those possible with Perl and PerlMagick.
 STL-compatible template versions of ImageMagick's list-style operations are
 provided so that operations may be performed on multiple images stored in
 STL containers.
 .
 This package includes header files and static libraries needed to compile
 programs using libMagick++.

Package: perlmagick
Architecture: any
Section: perl
Depends: ${perl:Depends}, ${shlibs:Depends}
Provides: libimage-magick-perl
Description: Perl interface to the libMagick graphics routines
 PerlMagick is a Perl module which gives you all the functionality
 you can enjoy in the ImageMagick package binaries, from Perl.
 . 
 One can load several images with PerlMagick, apply numerous transformations
 and operations on the images and write them back, possibly in a different 
 format.
