
			<li><a href="query.cgi?format=specific">Search bugs</a></li>
			<li><a href="query.cgi?format=advanced">Advanced search</a></li>
			<li><a href="enter_bug.cgi">Enter a new [% terms.bug %]</a></li>
			[% IF doc_section && Param('docs_urlbase') %]
                        <li>
                                <a href="[% docs_urlbase _ doc_section FILTER html %]" target="_blank">Help</a>
                        </li>
                	[% END %]

