/* HAWHAW skin stylesheet for the hawpadia phone */

body {
  background-color: #FFFFFF;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #222222;
  font-size:8pt;
}

#skin {
  margin: 0px auto;
  padding: 0px;
  text-align: left;
  width: 280px;
  height: 466px;
  background-image: url(hawpedia_phone.png);
}

#display {
  position: relative;
  top: 151px;
  left: 43px;
  width: 191px;
  height: 223px;
  overflow: auto;
}
