Source: tidy
Section: web
Priority: optional
Maintainer: Mark Bergsma <mark@wikimedia.org>
Build-Depends: debhelper (>> 4.0.0), cdbs, libtool, automake1.9, autoconf, perl
Standards-Version: 3.6.2.0

Package: tidy
Section: web
Architecture: any
Depends: ${shlibs:Depends}
Suggests: tidy-doc
Description: HTML syntax checker and reformatter
 Corrects markup in a way compliant with the latest standards, and
 optimal for the popular browsers.  It has a comprehensive knowledge
 of the attributes defined in the HTML 4.0 recommendation from W3C,
 and understands the US ASCII, ISO Latin-1, UTF-8 and the ISO 2022
 family of 7-bit encodings.  In the output:
 .
  * HTML entity names for characters are used when appropriate.
  * Missing attribute quotes are added, and mismatched quotes found.
  * Tags lacking a terminating '>' are spotted.
  * Proprietary elements are recognized and reported as such.
  * The page is reformatted, from a choice of indentation styles.
 .
 Tidy is a product of the World Wide Web Consortium.

Package: libtidy-0.99-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libtidy0
Description: HTML syntax checker and reformatter - library
 Corrects markup in a way compliant with the latest standards, and
 optimal for the popular browsers.  It has a comprehensive knowledge
 of the attributes defined in the HTML 4.0 recommendation from W3C,
 and understands the US ASCII, ISO Latin-1, UTF-8 and the ISO 2022
 family of 7-bit encodings.  In the output:
 .
  * HTML entity names for characters are used when appropriate.
  * Missing attribute quotes are added, and mismatched quotes found.
  * Tags lacking a terminating '>' are spotted.
  * Proprietary elements are recognized and reported as such.
  * The page is reformatted, from a choice of indentation styles.
 .
 Tidy is a product of the World Wide Web Consortium.

Package: libtidy-dev
Section: libdevel
Architecture: any
Depends: libtidy-0.99-0, ${shlibs:Depends}
Description: HTML syntax checker and reformatter - development
 Corrects markup in a way compliant with the latest standards, and
 optimal for the popular browsers.  It has a comprehensive knowledge
 of the attributes defined in the HTML 4.0 recommendation from W3C,
 and understands the US ASCII, ISO Latin-1, UTF-8 and the ISO 2022
 family of 7-bit encodings.  In the output:
 .
  * HTML entity names for characters are used when appropriate.
  * Missing attribute quotes are added, and mismatched quotes found.
  * Tags lacking a terminating '>' are spotted.
  * Proprietary elements are recognized and reported as such.
  * The page is reformatted, from a choice of indentation styles.
 .
 Tidy is a product of the World Wide Web Consortium.
