<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>

    <key>CFBundleGetInfoString</key>
    <string>@bundleInfoString@</string>

    <key>CFBundleIconFile</key>
    <string>@bundleIcons@</string>

    <key>CFBundleIdentifier</key>
    <string>@bundleIdentifier@</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>@bundleName@</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>@bundleShortVersion@</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleVersion</key>
    <string>@bundleVersion@</string>

    <!-- $JAVAROOT $APP_PACKAGE -->
    <key>Java</key>
    <dict>
        <key>JVMVersion</key>
        <string>1.5+</string>

		<key>MainClass</key>
        <string>commonist.Commonist</string>

        <key>WorkingDirectory</key>
        <string>$JAVAROOT</string>
		
        <key>VMOptions</key>
        <string>-Xmx192m</string>
		
		<!--
        <key>Arguments</key>
        <string>src/net/psammead/commonist/commonist.bsh</string>
		-->
		
		<key>ClassPath</key>
        <string>commonist.jar:scala-library.jar:bsh-2.0b2-fixed.jar:minibpp.jar:sanselan-0.97-incubator.jar:commons-httpclient-3.1.jar:commons-logging-1.1.jar:commons-codec-1.3.jar</string>
		
		<key>Properties</key>
		<dict>
			<!-- 
			<key>apple.awt.brushMetalLook</key>
			<string>true</string>
			
			<key>com.apple.macos.useScreenMenuBar</key>
			<string>true</string>

			<key>com.apple.mrj.application.apple.menu.about.name</key>
			<string>TheCommonist</string>
			
			<key>com.apple.mrj.application.growbox.intrudes</key>
			<string>true</string>
			
			<key>com.apple.mrj.application.live-resize</key>
			<string>true</string>
			-->
		</dict>
    </dict>
</dict>
</plist>
