Source: mydumper
Section: misc
Priority: extra
Maintainer: Domas Mituzas <domas.mituzas@gmail.com>
Build-Depends: debhelper (>= 6), libmysqlclient15-dev, libglib2.0-dev (>=2.8), libpcre3-dev, zlib1g-dev
Standards-Version: 3.8.0
Homepage: http://launchpad.net/mydumper/

Package: mydumper
Architecture: any
Depends: ${shlibs:Depends}
Description:MySQL Data Dumper
 Dumps stuff, faster than mysqldump :)
