Source: slayerd
Section: admin
Priority: extra
Maintainer: River Tarnell <river@attenuate.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: slayerd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kill errant user processes
 slayerd monitors the system for users using too much memory.
 If any are found, their processes are trimmed to within acceptable
 limits.
