/* Prototype code to show collapsing left nav options */
#editpage-bottom {
	background-color: #F3F3F3;
	border: 1px solid silver;
	border-top: none;
	padding: 20px 170px 20px 170px;
	margin-right: -2px;
}

input.inline-hint {
	color: #999999;
	font-style: italic;
}
.collapsible-list {
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

/* Prototype code to show collapsing left nav options */
.collapsible-list {
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 3px 2px;
}
.collapsible-list ul {
	display: block;
	padding: 0 0 0 14px;
}
.collapsible-list.collapsed label {
	background: url(../images/vector/collapsibleNav/arrow-down.png) 0 50% no-repeat;
	padding: 4px  0 3px 1.5em;
	margin-bottom: 0px;
}
.collapsible-list.expanded label {
	background: url(../images/vector/collapsibleNav/arrow-right.png) 0 50% no-repeat;
	padding: 4px  0 3px 1.5em;
	margin-bottom: 0px;
}

.editOptions {
	width: 100%;
}
#wpSummaryLabel,
#editpage-summary-fields,
.editButtons {
	float: left;
}
#wpSummaryLabel{
	width: 150px;
	margin-left: -150px;
	position: relative;
}
#editpage-summary-fields {
	width: 100%;
	margin-right: -100%;
}
#editpage-summary-fields input.mw-summary {
	width: 95%;
}
.editButtons {
	width: 150px;
	margin-right: -150px;
	float: right;
	position: relative;
}
#editpage-copywarn {
	margin-left: -150px;
	margin-right: 10px;
}
/* Why don't we use self clearing floats anywhere? */

.editOptions:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.editOptions {
	display: inline-block;
}
* html .editOptions { 
	height: 1%;
}
.editOptions { 
	display:block;
}