/* wikiEditor toc module */

.wikiEditor-ui-text {
	border-right: solid silver 1px;
}
body.rtl .wikiEditor-ui-text {
	border-right: none;
	border-left: solid silver 1px;
}
.wikiEditor-ui-toc {
	/* height and width are set dynamically */
	float: right;
	padding: 0;
	overflow: auto;
}
body.rtl .wikiEditor-ui-toc {
	right: auto;
	left: -1px;
	border-left: none;
}
.wikiEditor-ui-toc ul {
	padding: 0;
	margin: 0.5em 1em;
	list-style: none;
	/* IE needs to be told in great detail how to act, or it misbehaves */
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
.wikiEditor-ui-toc ul ul {
	padding: 0;
	margin: 0;
	margin-left: 0.75em;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	list-style: none;
}
body.rtl .wikiEditor-ui-toc ul ul {
	margin-left: 0;
	margin-right: 0.75em;
}
.wikiEditor-ui-toc ul li a {
	display: block;
	font-size: 0.9em;
}
.wikiEditor-ui-toc ul li a.currentSelection {
	font-weight: bold;
}
.wikiEditor-ui-toc ul li a.section-0 {
	font-size: 1em;
	border-bottom: solid 1px #DDDDDD;
}