/* wikiEditor toc module */

.wikiEditor-ui-toc {
	/* width is set dynamically */
	position: absolute;
	right: -1px;
	top: 0;
	padding: 0;
	border-left: solid silver 1px;
	overflow: auto;
}
body.rtl .wikiEditor-ui-toc {
	right: auto;
	left: -1px;
	border-left: none;
	border-right: solid silver 1px;
}
.wikiEditor-ui-toc ul {
	padding: 0;
	margin: 0.5em 1em;
	list-style: none;
}
.wikiEditor-ui-toc ul ul {
	padding: 0;
	margin: 0;
	margin-left: 0.75em;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	list-style: none;
}
body.rtl .wikiEditor-ui-toc ul ul {
	margin-left: 0;
	margin-right: 0.75em;
}
.wikiEditor-ui-toc ul li a {
	display: block;
	font-size: 0.9em;
}
.wikiEditor-ui-toc ul li a.currentSelection {
	font-weight: bold;
}
.wikiEditor-ui-toc ul li a.section-0 {
	font-size: 1em;
	border-bottom: solid 1px #DDDDDD;
}