/* CSS for wikiEditor preview plugin */

.wikiEditor-preview-loading {
	padding: 1em;
	background-color: white;
}
.wikiEditor-preview-loading span {
	color: #666666;
}
.wikiEditor-preview-spinner {
	padding-right: 1em;
}
.wikiEditor-preview-contents {
	padding: 1em;
	background-color: white;
}

#wikiEditor-0-preview-dialog .wikiEditor-ui-loading {
	background: #f3f3f3;
	z-index: 10;
	position: absolute;
	left: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border: none;
}
#wikiEditor-0-preview-dialog .wikiEditor-ui-loading span {
	display: block;
	height: 24px;
	width: 24px;
	background: url( ../images/wikiEditor/toolbar/loading.gif ) 0 0 no-repeat;
	text-indent: -9999px;
	margin: 0 auto;
}
.ui-dialog .ui-dialog-buttonpane {
	margin: 0 !important;
}