Source: squid
Section: web
Priority: optional
Maintainer: Mark Bergsma <mark@wikimedia.org>
Standards-Version: 3.7.2
Build-Depends: libldap2-dev, libpam0g-dev, sharutils, dpatch (>= 2.0.9), debhelper, devscripts, po-debconf, libdb4.4-dev, wget, libgoogle-perftools-dev

Package: squid
Architecture: any
Section: web
Priority: optional
Pre-Depends: debconf (>= 1.2.9) | debconf-2.0
Depends: ${shlibs:Depends}, netbase, adduser, logrotate (>= 3.5.4-1), squid-common (= ${Source-Version}), coreutils, lsb-base
Conflicts: squid-novm, sarg (<< 1.1.1-2)
Replaces: squid-novm
Suggests: squidclient, squid-cgi, logcheck-database, resolvconf (>= 0.40), smbclient
Description: Internet Object Cache (WWW proxy cache)
 This is the Squid Internet Object Cache developed by the National
 Laboratory for Applied Networking Research (NLANR) and Internet
 volunteers.  This software is freely available for anyone to use.  The
 Squid home page is http://www.squid-cache.org/
 .
 This package is a modified version with some adaptations for use by
 Wikimedia.

Package: squid-common
Architecture: all
Section: web
Priority: optional
Replaces: squid (<< 2.6.1-1)
Description: Internet Object Cache (WWW proxy cache) - common file
 This is the Squid Internet Object Cache developed by the National
 Laboratory for Applied Networking Research (NLANR) and Internet
 volunteers.  This software is freely available for anyone to use.  The
 Squid home page is http://www.squid-cache.org/
 .
 This package contains common files (errors and icons)

Package: squidclient
Architecture: any
Section: web
Priority: optional
Conflicts: squid (<= 1.1.16)
Depends: ${shlibs:Depends}
Description: Command line URL extractor that talks to (a) squid
 This small utility can be used to get URLs from the command line. It needs
 to talk to a `squid' proxy server.

Package: squid-cgi
Architecture: any
Section: web
Priority: optional
Depends: httpd, ${shlibs:Depends}, debconf | debconf-2.0
Description: Squid cache manager CGI program
 This CGI program can be used to query and administrate a `squid' proxy
 cache through your web browser.

Package: squid-frontend
Architecture: all
Section: web
Priority: optional
Depends: squid
Description: Second squid instance for CARP load balancing.

