Source: wikimedia-task-dns-auth
Section: unknown
Priority: optional
Maintainer: Mark Bergsma <mark@wikimedia.org>
Build-Depends: debhelper (>= 4.0.0), pdns-server (>= 2.9.22)
Standards-Version: 3.6.2

Package: wikimedia-task-dns-auth
Architecture: all
Depends: pdns-server (>= 2.9.22), pdns-backend-geo (>= 2.9.22), pdns-backend-pipe (>= 2.9.22), python, rsync
Description: Provides a Wikimedia authoritative DNS server
 Package wikimedia-task-dns-auth depends on the appropriate packages
 that need to be installed on a Wikimedia authoritative DNS server,
 and provides the relevant management scripts.
