Source: mailman
Section: mail
Priority: optional
Maintainer: Mailman for Debian <pkg-mailman-hackers@lists.alioth.debian.org>
Uploaders: Tollef Fog Heen <tfheen@debian.org>, Lionel Elie Mamane <lmamane@debian.org>, Thijs Kinkhorst <thijs@debian.org>, Hector Garcia Alvarez <hector@debian.org>
Build-Depends: debhelper (>= 5), autoconf, python-dev, dpatch (>= 2.0.9)
Standards-Version: 3.7.2

Package: mailman
Architecture: any
Pre-Depends: debconf (>= 1.4.16) | debconf-2.0
Depends: ${shlibs:Depends}, python (>= 2.2.2.91-1), logrotate, cron (>= 3.0pl1-42), postfix | mail-transport-agent, apache2 | httpd, ucf (>= 0.28), pwgen, adduser
Conflicts: suidmanager (<< 0.50), sendmail (<< 8.12.6)
Suggests: spamassassin, lynx, python2.3-korean-codecs | python2.2-korean-codecs, python-japanese-codecs, listadmin, htdig
Description: Powerful, web-based mailing list manager
 The GNU Mailing List Manager, which manages email discussion lists
 much like Majordomo and Smartmail. Unlike most similar products,
 Mailman gives each mailing list a web page, and allows users to
 subscribe, unsubscribe, etc. over the web.  Even the list manager can
 administer his or her list entirely from the web.
 .
 Mailman also integrates most things people want to do with mailing
 lists, including archiving, mail <-> news gateways, and so on.  It
 has all of the features you expect from such a product, plus
 integrated support for the web (including web based archiving),
 automated bounce handling and integrated spam prevention.
 .
 Homepage: http://www.list.org/
