

TD	{font-family:arial,verdana; font-size:13px;}
TH	{font-family:arial,verdana; font-size:13px;}
BODY	{font-family:arial,verdana; font-size:13px;}
H3	{font-family:verdana,arial; font-size:20px;}
.small	{font-family:arial,verdana; font-size:10px; color:red;}
.smallheader	{font-family:arial,verdana; font-size:10px; color:black;}


