.paragraphEditor .paragraphEditorElement {
	/* soft-blue background color to highlight editable paragraphs */
	background-color: #E4F0F9;
	
	/* create a hand cursor, cross-browser hack: http://www.quirksmode.org/css/cursor.html */
	cursor: pointer;
	cursor: hand;
	
	/* add some space on the top and bottom to make sure they are spaced apart */
	margin: 0.5em 0;
}

.paragraphEditor .edited {
	/* have a yellow color to highlight edited elements, basically the orange color with the hue shifted */
	background-color: #F9F2A7;
}

.paragraphEditor .paragraphEditorElement:hover {
	/* indicate the paragraph to be edited with a darker color */
	background-color: #a7d7f9;
}

.paragraphEditor .paragraphEditorElement.notEditing * {
	/* make sure all the child elements inherit the background color */
	background-color: inherit !important;
}

.paragraphEditor .editing {
	/* keeping the custom padding and margin breaks in Webkit browsers */
	padding: 0px;
	margin: 0px;
	
	/* reset the cursor when editing */
	cursor: auto;
}

.paragraphEditor .paragraphEditorElement.lastEdit {
	/* have an orange color, the exact complement of the hover color, for highlighting on preview/cancel */
	background-color: #f9c9a7;
}
