#!/bin/bash
# Copyright 2002-2004 Takuo KITAME.
# Copyright 2006 David Martínez Moreno.
# Licensed under GPL v2.
#
# Some parts of this script are copied from X.Org configuration scripts,
# Copyright 2000-2004 Branden Robinson.
# Copyright 2004-2005 Canonical Ltd.
# Copyright 2006 David Martínez Moreno.
# Licensed under the GNU General Public License, version 2.  See the file
# /usr/share/common-licenses/GPL or <http://www.gnu.org/copyleft/gpl.txt>.

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

VIEWVC_CONFIG_FILE="/etc/viewvc/viewvc.conf"

if [ "$1" = "reconfigure" ] || [ -n "$DEBCONF_RECONFIGURE" ]; then
  # if we are reconfiguring, or already have installed the package at least
  # once before, we should not let auto_answer stomp on existing answers to
  # debconf questions.
  RECONFIGURE=true
else
  RECONFIGURE=
fi

if [ -z "$2" ]; then
  FIRSTINST=yes
fi

# Migrate debconf templates from viewcvs to viewvc, and removing, while we are at it, 'svnparentpath'.
# set +e is required, otherwise grep will exit with error 1 if it does not match.
set +e
VIEWCVS_TEMPLATELIST=$(/usr/bin/debconf-show viewcvs | sed -e 's/^\*//g' | awk '{print $1}' | sed -e 's/\:$//g' | grep -vw svnparentpath)
set -e

if [ -n "$FIRSTINST" ] && [ -z "$RECONFIGURE" ] && [ -n "$VIEWCVS_TEMPLATELIST" ]; then
#    # We need to figure if viewcvs.conf exists. Those settings will overwrite debconf values.
#    if [ -x /usr/lib/viewvc/viewvc-config -a -f /etc/viewcvs/viewcvs.conf ]; then
#        echo "Migrating viewcvs settings from viewcvs.conf to debconf." >&2
#        cvs_roots=`/usr/lib/viewvc/viewvc-config --get cvs_roots`
#        svn_roots=`/usr/lib/viewvc/viewvc-config --get svn_roots`
#        default_root=`/usr/lib/viewvc/viewvc-config --get default_root`
#        forbidden=`/usr/lib/viewvc/viewvc-config --get forbidden`
#        address=`/usr/lib/viewvc/viewvc-config --get address`
#        tarball=`/usr/lib/viewvc/viewvc-config --get allow_tar --section options`
#        if [ "$tarball" = 1 ];then
#            tarball="true"
#        else
#            tarball="false"
#        fi
#    fi
#
    echo "Migrating viewcvs debconf values to viewvc." >&2
    # set +e is required otherwise debconf will kick us out if the template is not
    # there.
    set +e
    for VIEWCVS_TEMPLATE in $VIEWCVS_TEMPLATELIST; do
        VIEWVC_TEMPLATE=$(echo "$VIEWCVS_TEMPLATE" | sed -e 's/viewcvs/viewvc/g')
        # db_get doesn't need checking. If we are here is because it is in the list.
        db_get "$VIEWCVS_TEMPLATE"
        db_set "$VIEWVC_TEMPLATE" "$RET"
        if [ "$RET" = "10 \"$VIEWVC_TEMPLATE\" doesn't exist" ]; then
            echo "$VIEWCVS_TEMPLATE is not mapped to $VIEWVC_TEMPLATE"
        else
            db_fset "$VIEWVC_TEMPLATE" seen true
        fi
    done
    set -e

    # We can't copy now viewcvs.conf into viewvc.conf, as the config script is run *before*
    # the package is unpacked.  Thus it should not need to modify the filesystem at all, in
    # order to prevent errors like
    #  cp: cannot create regular file `/etc/viewvc/viewvc.conf': No such file or directory.
    #
    VIEWVC_CONFIG_FILE="/etc/viewcvs/viewcvs.conf"
fi

DOMAIN="localhost"
if [ -f /etc/mailname ]; then
        D=`cat /etc/mailname`
        if [ ! -z $D ]; then
                DOMAIN=$D
        fi
fi

# Ask questions to user and insert them in the debconf database.
if [ -x /usr/lib/viewvc/viewvc-config -a -f "$VIEWVC_CONFIG_FILE" ]; then
        if [ -n "`/usr/lib/viewvc/viewvc-config -c $VIEWVC_CONFIG_FILE --all --section vhosts 2>/dev/null`" ]; then
            echo "You seem to be using vhosts in /etc/viewvc/viewvc.conf." >&2
            echo "Refusing to alter configuration, it is way too complex for us." >&2
            exit 0
        fi

        cvs_roots=`/usr/lib/viewvc/viewvc-config --get cvs_roots -c $VIEWVC_CONFIG_FILE`
        svn_roots=`/usr/lib/viewvc/viewvc-config --get svn_roots -c $VIEWVC_CONFIG_FILE`
        default_root=`/usr/lib/viewvc/viewvc-config --get default_root -c $VIEWVC_CONFIG_FILE`
        forbidden=`/usr/lib/viewvc/viewvc-config --get forbidden -c $VIEWVC_CONFIG_FILE`
        address=`/usr/lib/viewvc/viewvc-config --get address -c $VIEWVC_CONFIG_FILE`
        tarball=`/usr/lib/viewvc/viewvc-config --get allow_tar --section options -c $VIEWVC_CONFIG_FILE`
        if [ "$tarball" = 1 ];then
          tarball="true"
        else
          tarball="false"
        fi
else
        cvs_roots="cvs: /var/lib/cvs"
        svn_roots="svn: /var/lib/svn"
        default_root="cvs"
        forbidden=""
        address="<a href=\"mailto:admin@$DOMAIN\">Repository Admin</a>"
        tarball="false"
fi

db_set viewvc/cvsroots $cvs_roots
db_set viewvc/svnroots $svn_roots
db_set viewvc/defaultroot $default_root
db_set viewvc/forbidden $forbidden
db_set viewvc/address $address
db_set viewvc/allow_tar $tarball

db_input medium viewvc/cvsroots || true
db_go || true
db_get viewvc/cvsroots || true
cvs_roots=$RET

db_input medium viewvc/svnroots || true
db_go || true
db_get viewvc/svnroots || true
svn_roots=$RET

# Always offer the old value as choice. (I do not know why, exactly. (Ender,08/08/06))
if [ "$default_root" != "cvs" ]; then
    if [ "`echo $rootlist | grep -w "$default_root" 2>/dev/null`" == "" ]; then
        rootlist="$rootlist, $default_root"
    fi
fi

# We remove commas before and after the string, and possible empty entries.
rootlist=`echo $rootlist | sed -e 's/^, //g' -e 's/,\s*,//g' -e 's/,\s*$//g'`

db_subst viewvc/defaultroot rootlist $rootlist
db_input medium viewvc/defaultroot || true
db_go || true

db_input medium viewvc/address || true
db_go || true

db_input medium viewvc/forbidden || true
db_go || true

db_input medium viewvc/allow_tar || true
db_go || true

db_text medium viewvc/documentsdir || true
db_go || true

# If we are upgrading from viewcvs 0.9.2, we will have here (I do not know why)
# a sticky viewvc/svnparentpath inherited from it.
db_unregister viewvc/svnparentpath || true

###########################
# vim: shiftwidth=4:tabstop=4:expandtab:
###########################
