.mv_track {
	margin-bottom:20px;
	position:relative;
}
.mv_playhead {
	position:absolute;
	top:0;
	left:0;
	width:17px;
	height:21px;
	/*http://art.gnome.org/themes/gtk2*/
}
.mv_status {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	float:left;
}

.inputTrackerInput {
        height:20;
    	width:30;
        font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
}
