div.optin-accept {
	float: left;
	background-image: url(images/accept-border.png);
	margin: 0;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 4px;
}
div.optin-accept div {
	float: left;
	background-image: url(images/accept-base.png);
	margin: 0;
	padding: 0;
}
div.optin-accept div div {
	background-image: url(images/accept-tl.png);
	background-position: top left;
	background-repeat: no-repeat;
	margin: 0;
	margin: -4px;
}
div.optin-accept div div div {
	background-image: url(images/accept-tr.png);
	background-position: top right;
	background-repeat: no-repeat;
	margin: 0;
}
div.optin-accept div div div div {
	background-image: url(images/accept-bl.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	margin: 0;
}
div.optin-accept div div div div a {
	background-image: url(images/accept-br.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	padding-top: 1em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-bottom: 0.75em;
	margin: 0;
	cursor: pointer;
}
div.optin-accept div div div div a:hover {
	text-decoration: none;
}
div.optin-deny {
	float: left;
	background-image: url(images/deny-border.png);
	margin: 0;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 4px;
}
div.optin-deny div {
	float: left;
	background-image: url(images/deny-base.png);
	margin: 0;
	padding: 0;
}
div.optin-deny div div {
	background-image: url(images/deny-tl.png);
	background-position: top left;
	background-repeat: no-repeat;
	margin: 0;
	margin: -4px;
}
div.optin-deny div div div {
	background-image: url(images/deny-tr.png);
	background-position: top right;
	background-repeat: no-repeat;
	margin: 0;
}
div.optin-deny div div div div {
	background-image: url(images/deny-bl.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	margin: 0;
}
div.optin-deny div div div div a {
	background-image: url(images/deny-br.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	padding-top: 1em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-bottom: 0.75em;
	margin: 0;
	cursor: pointer;
}
div.optin-deny div div div div a:hover {
	text-decoration: none;
}
span.optin-button-shorttext {
	font-size: large;
	font-weight: bold;
	color: white;
}
span.optin-button-longtext {
	color: white;
}
div.optin-intro {
	font-size: large;
	margin-bottom: 1em;
}
#content, #p-cactions li a:hover, #p-cactions li.selected a, #content div.thumb {
	background-color:#FFFFFF !important;
}
form#optin-survey {
	margin: 0;
	padding: 0;
}
form#optin-survey table {
	margin: 0;
	padding: 0;
}
form#optin-survey table td {
	margin: 0;
	padding: 0.5em;
}
form#optin-survey table table {
	margin: 0;
	margin-top: -0.5em;
	margin-left: -0.5em;
}
form#optin-survey table table td {
	margin: 0;
	padding: 0.5em;
}
form#optin-survey table td.optin-survey-submit {
	text-align: right;
}