/*
      Should be copied into the appropriate stylesheets like 
          skins/monobook/main.css
          skins/common/common.css
*/

/* Suggestion control */

.wiki-data-table td .suggest-link {
	display: block;
	background-color: #FFFFFF;
}

.suggest-link {
	border-width: 1px;
	border-style: solid;
	border-color: #7F9DB9;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: px;
	padding-bottom: 1px;
}

.suggest-link, .suggest-link:hover, .suggest-link:active, .suggest-link:visited {
	color: #000000;
	text-decoration: none;
	white-space: nowrap;
}

.suggestion-row {
	padding: 0px;
	margin: 0px;
}

.suggestion-row.active {
	background-color: #DDDDDD;
	cursor: pointer;
}

.suggestion-row.inactive {
	background-color: #FFFFFF;
}

.suggestion-row td {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: nowrap;
}

.suggest-loading {
	background-color: #DDDDDD;
}