<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>VerifyTokenFilter</filter-name>
        <filter-class>com.atlassian.crowd.integration.http.VerifyTokenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>org.wikimedia.ts.sso.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VerifyTokenFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SSOCreate</servlet-name>
        <servlet-class>org.wikimedia.ts.sso.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSOFrontPage</servlet-name>
        <servlet-class>org.wikimedia.ts.sso.FrontPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSOProfile</servlet-name>
        <servlet-class>org.wikimedia.ts.sso.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSOLogout</servlet-name>
        <servlet-class>org.wikimedia.ts.sso.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>org.wikimedia.ts.sso.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>org.wikimedia.ts.sso.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetLang</servlet-name>
        <servlet-class>org.wikimedia.ts.sso.SetLang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SSOCreate</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSOFrontPage</servlet-name>
        <url-pattern>/frontpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSOProfile</servlet-name>
        <url-pattern>/secure/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSOLogout</servlet-name>
        <url-pattern>/secure/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/secure/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/secure/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetLang</servlet-name>
        <url-pattern>/setlang</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
