<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="cs" dir="ltr">

### Fancy Planet HTML template.
### 
### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces
### 
### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>

<title><TMPL_VAR name></title>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">

<link rel="stylesheet" href="planet.css" type="text/css" title="Výchozí styl">

<TMPL_IF feedtype>
<link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
</TMPL_IF>

</head>

<body>

<h1><TMPL_VAR name></h1>

<TMPL_LOOP Items>
<TMPL_IF new_date>
<TMPL_UNLESS __FIRST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_UNLESS>
<div class="daygroup">
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>
<TMPL_UNLESS new_date>
### End <div class="channelgroup">
</div>
</TMPL_UNLESS>
<div class="channelgroup">

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.

<h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="<TMPL_VAR channel_name>">
</TMPL_IF>
</TMPL_IF>


<div class="entrygroup" id="<TMPL_VAR id>"<TMPL_IF channel_language> lang="<TMPL_VAR channel_language>"</TMPL_IF>>
<TMPL_IF title>
<h4<TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF>><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<div class="entry">
<div class="content"<TMPL_IF content_language> lang="<TMPL_VAR content_language>"</TMPL_IF>>
<TMPL_VAR content>
</div>

### Planet also makes available all of the information from the feed
### that it can.  Use the 'planet-cache' tool on the cache file for
### a particular feed to find out what additional keys it supports.
### Comment extra fields are 'author' and 'category' which we
### demonstrate below.

<p class="date">
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author><TMPL_VAR author> — </TMPL_IF><TMPL_VAR date><TMPL_IF category> v&nbsp;kategorii <TMPL_VAR category></TMPL_IF></a>
</p>
</div>
</div>

<TMPL_IF __LAST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_IF>
</TMPL_LOOP>


<div class="sidebar">

<img id="logo" src="images/logo.png" width="135" height="135" alt="logo Planeta Wikimedia">

<div id="feeds">
<h2 id="odber">Odběr</h2>
<ul>
	<li id="atom"><a href="/atom.xml" type="application/atom+xml">Atom</a></li>
	<li id="rss10"><a href="/rss10.xml" type="application/rss+xml">RSS 1.0</a></li>
	<li id="rss20"><a href="/rss20.xml" type="application/rss+xml">RSS 2.0</a></li>
</ul>
</div>

<div id="about">
<h2 id="o-planete-wikimedia">O&nbsp;Planetě Wikimedia</h2>
<p>
<i>Planeta Wikimedia je sdružený přehled toho, co účastníci projektů nadace Wikimedia napsali na svých blozích o&nbsp;různých wiki.<br>
<a href="http://meta.wikimedia.org/wiki/Planet_Wikimedia" hreflang="en">Více informací… (anglicky)</a></i>
</p>
</div>

<div id="subscriptions">
<h2 id="ucastnici">Účastníci</h2>
<ul>
<TMPL_LOOP Channels>
	<li>
	<a href="<TMPL_VAR url ESCAPE="HTML">" title="odebírat"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF><TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a>
	</li>
</TMPL_LOOP>
</ul>
<hr>
<p>
	<a id="foaf" href="/foafroll.xml" type="application/rdf+xml"><abbr title="Friend of a Friend">FOAF</abbr></a> •
	<a id="opml" href="/opml.xml" type="application/xml"><abbr title="Outline Processor Markup Language">OPML</abbr></a>
</p>
</div>

<p>
<strong id="addblog"><a href="http://meta.wikimedia.org/wiki/Planet_Wikimedia/cs">Přidejte svůj blog</a></strong><br>
<a id="requestlang" href="http://meta.wikimedia.org/wiki/Planet_Wikimedia/New_language" hreflang="en">Požádejte o&nbsp;nový jazyk</a>
</p>

<p>
Poslední aktualizace:<br>
<strong><TMPL_VAR date></strong><br>
<em>Všechny časy jsou v&nbsp;<a href="http://cs.wikipedia.org/wiki/Coordinated_Universal_Time"><abbr title="Coordinated Universal Time – koordinovaný světový čas">UTC</abbr></a>.</em>
</p>

<p>
Běží na <a href="http://www.planetplanet.org/" hreflang="en"><img src="images/planet.png" width="80" height="15" alt="Planet" border="0"></a>
</p>

<div id="disclaimer">
<h2 id="vylouceni-odpovednosti">Vyloučení odpovědnosti</h2>
<p>
Planeta Wikimedia je provozována neziskovou nadací <a href="http://wikimediafoundation.org/" lang="en" hreflang="en">Wikimedia Foundation</a> pro účely usnadnění sdílení informací a&nbsp;názorů mezi členy Wikimedia komunity. Agregace příspěvků z&nbsp;weblogů je počítačově řízený proces a&nbsp;Wikimedia Foundation není zodpovědná za žádný materiál dodaný účastníky této online komunity.
</p>
</div>

<div id="otherlangs">
<h2 id="v-jinych-jazycich">V&nbsp;jiných jazycích:</h2>
<ul>
	<li><a href="http://ar.planet.wikimedia.org" lang="ar" hreflang="ar">العربية</a></li>
	<li><a href="http://de.planet.wikimedia.org" lang="de" hreflang="de">Deutsch</a></li>
	<li><a href="http://en.planet.wikimedia.org" lang="en" hreflang="en">English</a></li>
	<li><a href="http://fr.planet.wikimedia.org" lang="fr" hreflang="fr">Français</a></li>
	<li><a href="http://pl.planet.wikimedia.org" lang="pl" hreflang="pl">Polski</a></li>
	<li><a href="http://pt.planet.wikimedia.org" lang="pt" hreflang="pt">Português</a></li>
	<li><a href="http://ru.planet.wikimedia.org" lang="ru" hreflang="ru">Русский</a></li>
	<li><a href="http://sr.planet.wikimedia.org" lang="sr" hreflang="sr">Српски / Srpski</a></li>
	<li><a href="http://zh.planet.wikimedia.org" lang="zh" hreflang="zh">中文</a></li>
</ul>
</div>

<div id="planetarium">
<h2>Planetárium:</h2>
<ul>
	<li><a href="http://wikiblogplanet.com/">Wiki Blog Planet</a></li>
	<li><a href="http://planet.laptop.org/">Planet OLPC</a></li>
	<li><a href="http://planet.freedesktop.org/">Planet freedesktop.org</a></li>
	<li><a href="http://planet.mozilla.org/">Planet Mozilla</a></li>
	<li><a href="http://planet.inkscape.org/">Planet Inkscape</a></li>
	<li><a href="http://planet.ubuntu.com/">Planet Ubuntu</a></li>
	<li><a href="http://planet.debian.net/">Planet Debian</a></li>
	<li><a href="http://planet.fedoraproject.org/">Planet Fedora</a></li>
	<li><a href="http://intelligentdesigns.net/Planet_tracker">další…</a></li>
</ul>
</div>

</div>

</body>

</html>
