/**
  * Storyboard css.
  *
  * @file Storyboard.css
  * @ingroup Storyboard
  *
  * @author Jeroen De Dauw
 */

.ajaxscroll {
border: 1px solid #ddd;
}
.ajaxscroll .ajaxscroll-batch {
	margin: 0;
	padding: 0;
}
.ajaxscroll .ajaxscroll-box {
	display: inline-block;
	border: 1px solid #eee;
	width: 99%;
	height: 150px;
	text-align: center;
	margin: 5px !important;
	margin-bottom: 25px;
}
.ajaxscroll .ajaxscroll-empty .ajaxscroll-box {
	border: 1px solid #ddd;
	background: #FCFCFC url(../../images/storyboard-loader.gif) no-repeat scroll center center;
}