/**
  * Storyboard css.
  *
  * @file Storyboard.css
  * @ingroup Storyboard
  *
  * @author Jeroen De Dauw
 */

.storyboard {
border: 1px solid #ddd;
}
.storyboard .storyboard-batch {
	margin: 0;
	padding: 0;
}
.storyboard .storyboard-box {
	display: inline-block;
	border: 1px solid #eee;
	width: 99%;
	min-height: 100px;
	margin: 5px;
}
.storyboard .storyboard-empty .storyboard-box {
	border: 1px solid #ddd;
	background: #FCFCFC url(../../images/storyboard-loader.gif) no-repeat scroll center center;
}
.storyboard-sharing {
	height: 30px;
	width: 110px;
	float: right;
}
.storyboard-sharing-item {
	float: left;
	padding-right: 5px;
}
.storyboard-header {
	margin: 10px 0px 10px 15px;
	height: 21px;
}
.storyboard-title {
	font: 16px "Lucida Sans", Verdana;
	font-weight: bold;
	float: left;
	overflow: hidden;	
}
.storyboard-text {
	margin-left: 15px;
	float: left;
	overflow: hidden;	
}
.storyboard-image {
	margin: 5px 15px 0px 15px;
	float: left;
}