#sitetitle {
 font-family: Times, serif; color: white;
 font-weight: bold; font-size: 32pt;
 padding-bottom: 0;
}
td.top {
 background-color: #6688AA;
 margin-bottom: 4px; text-transform: uppercase;
 color: white; font-family: Verdana, Arial, sans-serif; font-size: 8pt;
}
td.top a {
 font-family: Verdana, Arial, sans-serif;
 color: white; text-decoration: none; font-size: 10pt;
}
#sitesub {
 font-family: Verdana, Arial, sans-serif;
 font-size: 8pt; font-weight: bold; color: white;
 padding-top: 0;
}
#quickbar a {
 font-family: Verdana, Arial, sans-serif;
 font-size: 8pt; font-weight: bold;
 text-decoration: none; color: #446688;
}
h1 { font-family: Arial, Helvetica, sans-serif;
 color: #888888; font-family: Verdana, Arial, sans-serif;
 font-size: 18pt; font-weight: bold;
}
h1.pagetitle { padding-bottom: 0; margin-bottom: 0; }
p.subtitle { padding-top: 0; margin-top: 0; }

a { color: #223366; }
a.external { color: #336644; }

body { margin: 0px; padding: 4px; }
#specialform { display: inline; }
#content { position: absolute; top: 0; margin: 0; padding: 0; }
#topbar { padding: 4px; }
#quickbar { width: 120px; top: 14ex; padding: 4px; visibility: visible; z-index: 99; }
#article {
 font-family: Verdana, Arial, sans-serif;
 font-size: 10pt; color: black;
 padding: 4px;
}
#footer { padding: 4px; }

