
.bodytext { }
h1.pagetitle {
 padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0;
}
p.subtitle { padding-top: 0; margin-top: 0; }
#specialform { display: inline; }
#article { }
a.printable { text-decoration: underline; }
a.interwiki, a.external { color: #3366BB; }
