; By default, will check /etc/mwsearch.conf

[Search]
; Space-separated list of wiki database names:
databases=frtest rutest entest detest

; If you have a lot of databases, specify instead
; the path to file containing a list of all dbs.
; Each database should be on its own line in the file.
;databaselist=/etc/mwsearch.dblist

; Directory to put the Lucene index files into
indexpath=/usr/local/var/mwsearch/index/{0}

; For title prefix database; not really used yet...
titledb=/usr/local/var/mwsearch/title/{0}

; Point config to the path of a log4net configuration file
; If left blank, debug info will be logged to the console.
;logconfig=/etc/mwsearch.log4net


[Daemon]
port=8123
verbose=true

[Updater]
; Override to have updates made to a separate copy of the index.
; This can be useful to do updates independtly from a running
; search daemon, then merge them intermittently.
;indexpath=/kalman/Projects/mwsearch/index-update/{0}

; Logging can also be overridden here, to keep separate
; log files for the daemon and updater:
;logconfig=/etc/mwupdater.log4net

[Database]
;protocol=unix
;host=/var/run/mysqld/mysqld.sock

protocol=socket
host=localhost
port=3306

username=wikiuser
password=somepassword
tableprefix=
version=1.4

latin1=entest
suffix=test


[Logging]
; Set debug to true to diagnose problems with log4net configuration
debug=false
